*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block; 
  }
  body {
    background-color: #333;
  }
  h1 {
    font-size: 32px;
  }
  h1, p {
    color: #FFF;
    text-align: center;
  }
  canvas {
    display: block;
    margin: 10px auto;
    background-color: #666;
  }